In [1]:
import pandas as pd
from dotenv import load_dotenv
import csv

load_dotenv()

from src.orcid_data_utils import collect_professor_data1,extract_department_and_name

Python-dotenv could not parse statement starting at line 2

In [32]:
#Refine raw dataset from scraping to Orcid extraction 
data = pd.read_csv('../../data/raw/staff_data.csv')
names_split = data['Nome Completo'].str.split(' ', n=1, expand=True)

data['Family Name'] = names_split[0]
data['Given Name'] = names_split[1]

data = data[['Family Name', 'Given Name', 'SSD', 'Ruolo']]
data['SSD'] = data['SSD'].str.replace('SSD:', '', regex=False).str.strip()
data[['Department Code', 'Specific Name']] = data['SSD'].apply(extract_department_and_name)
data = data[['Family Name', 'Given Name', 'Department Code', 'Specific Name', 'Ruolo']]

data

,Family Name,Given Name,Department Code,Specific Name,Ruolo
0,ANTONIOTTI,MARCO,(INFO-01/A),Informatica,Professore/ssa ordinario/a
1,ARCELLI,FONTANA FRANCESCA,(IINF-05/A),Sistemi di elaborazione delle informazioni,Professore/ssa ordinario/a
2,BANDINI,STEFANIA,(INFO-01/A),Informatica,Professore/ssa ordinario/a
3,BONIZZONI,PAOLA,(INFO-01/A),Informatica,Professore/ssa ordinario/a
4,CIUCCI,DAVIDE ELIO,(INFO-01/A),Informatica,Professore/ssa ordinario/a
...,...,...,...,...,...
134,SGRO,MATTIA,None,SSD non disponibile,Dottorando/a
135,SHAH,SAHAR,None,SSD non disponibile,Dottorando/a
136,SWEILAM,MOHAMED NASSER HASSAN,None,SSD non disponibile,Dottorando/a
137,TALPINI,JACOPO,None,SSD non disponibile,Dottorando/a
138,VIGANO',GIULIO,None,SSD non disponibile,Dottorando/a

In [33]:
#Traslating Informations
data.rename(columns={'Ruolo': 'Role', 'Specific Name': 'Specific Field'}, inplace=True)

role_translation = {
    'Professore/ssa ordinario/a': 'Full Professor',
    'Professore/ssa associato/a': 'Associate Professor',
    'Ricercatore/rice': 'Researcher',
    'Ricercatore/rice a tempo determinato': 'Fixed-term Researcher',
    'Professore/ssa emerito/a': 'Professor Emeritus',
    'Assegnista di ricerca': 'Research Fellow',
    'Dottorando/a': 'PhD Student'
}
data['Role'].replace(role_translation, inplace=True)

specific_field_translation = {
    'Informatica': 'Computer Science',
    'Sistemi di elaborazione delle informazioni': 'Information Processing Systems',
    'Ricerca operativa': 'Operations Research',
    'SSD non disponibile': 'SSD not available'
}
data['Specific Field'].replace(specific_field_translation, inplace=True)
data.to_csv('../../data/processed/professors_dip_info.csv', index=False, quoting=csv.QUOTE_NONNUMERIC)
data

/var/folders/7y/h7b4hxf568n1y6xlpl8vf6340000gn/T/ipykernel_4709/1971726537.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Role'].replace(role_translation, inplace=True)
/var/folders/7y/h7b4hxf568n1y6xlpl8vf6340000gn/T/ipykernel_4709/1971726537.py:21: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Specific Field'].replace(specific_field_translation, inplace=True)

,Family Name,Given Name,Department Code,Specific Field,Role
0,ANTONIOTTI,MARCO,(INFO-01/A),Computer Science,Full Professor
1,ARCELLI,FONTANA FRANCESCA,(IINF-05/A),Information Processing Systems,Full Professor
2,BANDINI,STEFANIA,(INFO-01/A),Computer Science,Full Professor
3,BONIZZONI,PAOLA,(INFO-01/A),Computer Science,Full Professor
4,CIUCCI,DAVIDE ELIO,(INFO-01/A),Computer Science,Full Professor
...,...,...,...,...,...
134,SGRO,MATTIA,None,SSD not available,PhD Student
135,SHAH,SAHAR,None,SSD not available,PhD Student
136,SWEILAM,MOHAMED NASSER HASSAN,None,SSD not available,PhD Student
137,TALPINI,JACOPO,None,SSD not available,PhD Student
138,VIGANO',GIULIO,None,SSD not available,PhD Student

In [3]:
# Retriving data
professors_df = pd.read_csv('../../data/processed/professors_dip_info.csv')
professors_info, not_found_professors = collect_professor_data1(professors_df)
professors_info_df = pd.DataFrame(professors_info)
professors_info_df.to_csv('../../data/processed/professors_orcid_info.csv', index=False, quoting=csv.QUOTE_NONNUMERIC)

print("CSV file created successfully!")

Loop count: 1
Processing professor: MARCO ANTONIOTTI
Added professor: MARCO ANTONIOTTI with organization UniversitÃ  degli Studi di Milano-Bicocca
Loop count: 2
Processing professor: FONTANA FRANCESCA ARCELLI
Added professor: FONTANA FRANCESCA ARCELLI with organization Universita degli Studi di Milano-Bicocca
Loop count: 3
Processing professor: STEFANIA BANDINI
Added professor: STEFANIA BANDINI with organization University of Milano-Bicocca
Loop count: 4
Processing professor: PAOLA BONIZZONI
Added professor: PAOLA BONIZZONI with organization UniversitÃ  degli Studi di Milano-Bicocca
Loop count: 5
Processing professor: DAVIDE CIUCCI
Added professor: DAVIDE CIUCCI with organization University of Milano-Bicocca
Loop count: 6
Processing professor: GABRIELE GIANINI
Added professor: GABRIELE GIANINI with organization UniversitÃ  degli Studi di Milano-Bicocca
Loop count: 7
Processing professor: LEONARDO MARIANI
Added professor: LEONARDO MARIANI with organization University of Milano-Bicocca
Loop count: 8
Processing professor: ANDREA MAURINO
Added professor: ANDREA MAURINO with organization UniversitÃ  degli Studi di Milano-Bicocca
Loop count: 9
Processing professor: VINCENZINA MESSINA
Errore durante l'iterazione dei risultati per VINCENZINA MESSINA: 'NoneType' object is not iterable
Loop count: 10
Processing professor: GABRIELLA PASI
Added professor: GABRIELLA PASI with organization UniversitÃ  degli Studi di Milano-Bicocca
Loop count: 11
Processing professor: MAURO PEZZE'
Errore durante l'iterazione dei risultati per MAURO PEZZE': 'NoneType' object is not iterable
Loop count: 12
Processing professor: RAIMONDO SCHETTINI
No organization with 'Bicocca', 'Milan', or 'Milano' found for RAIMONDO SCHETTINI
Loop count: 13
Processing professor: ALESSANDRA AGOSTINI
No organization with 'Bicocca', 'Milan', or 'Milano' found for ALESSANDRA AGOSTINI
Loop count: 14
Processing professor: DANIELA BESOZZI
No organization with 'Bicocca', 'Milan', or 'Milano' found for DANIELA BESOZZI
Loop count: 15
Processing professor: SIMONE BIANCO
Added professor: SIMONE BIANCO with organization University of Milano-Bicocca
Loop count: 16
Processing professor: PIETRO BRAIONE
Added professor: PIETRO BRAIONE with organization University of Milano-Bicocca
Loop count: 17
Processing professor: FEDERICO ANTONIO NICCOLO' AMEDEO CABITZA
Errore durante l'iterazione dei risultati per FEDERICO ANTONIO NICCOLO' AMEDEO CABITZA: 'NoneType' object is not iterable
Loop count: 18
Processing professor: MICHELE CIAVOTTA
Added professor: MICHELE CIAVOTTA with organization Universita degli Studi di Milano-Bicocca
Loop count: 19
Processing professor: GIANLUIGI CIOCCA
Added professor: GIANLUIGI CIOCCA with organization University of Milano-Bicocca
Loop count: 20
Processing professor: FLAVIO DE PAOLI
Added professor: FLAVIO DE PAOLI with organization Universita degli Studi di Milano-Bicocca
Loop count: 21
Processing professor:  "GIANLUCA" DELLA VEDOVA
Added professor:  "GIANLUCA" DELLA VEDOVA with organization Universita' di Milano Bicocca
Loop count: 22
Processing professor: GIOVANNI DENARO
No organization with 'Bicocca', 'Milan', or 'Milano' found for GIOVANNI DENARO
Loop count: 23
Processing professor: ALBERTO DENNUNZIO
No organization with 'Bicocca', 'Milan', or 'Milano' found for ALBERTO DENNUNZIO
Loop count: 24
Processing professor: CLAUDIO FERRETTI
No organization with 'Bicocca', 'Milan', or 'Milano' found for CLAUDIO FERRETTI
Loop count: 25
Processing professor: ELISABETTA FERSINI
No organization with 'Bicocca', 'Milan', or 'Milano' found for ELISABETTA FERSINI
Loop count: 26
Processing professor: FRANCESCA GASPARINI
Added professor: FRANCESCA GASPARINI with organization Universita degli Studi di Milano-Bicocca
Loop count: 27
Processing professor: ALBERTO OTTAVIO LEPORATI
Errore durante l'iterazione dei risultati per ALBERTO OTTAVIO LEPORATI: 'NoneType' object is not iterable
Loop count: 28
Processing professor: GUGLIELMO LULLI
No organization with 'Bicocca', 'Milan', or 'Milano' found for GUGLIELMO LULLI
Loop count: 29
Processing professor: SARA LUCIA MANZONI
Added professor: SARA LUCIA MANZONI with organization UniversitÃ  degli Studi di Milano-Bicocca Scuola di Scienze
Loop count: 30
Processing professor: DANIELA MICUCCI
No organization with 'Bicocca', 'Milan', or 'Milano' found for DANIELA MICUCCI
Loop count: 31
Processing professor: PAOLO NAPOLETANO
No organization with 'Bicocca', 'Milan', or 'Milano' found for PAOLO NAPOLETANO
Loop count: 32
Processing professor: MATTEO LUIGI PALMONARI
Added professor: MATTEO LUIGI PALMONARI with organization UniversitÃ  degli Studi di Milano-Bicocca
Loop count: 33
Processing professor: NYSSEN RAFAEL PENALOZA
Errore durante l'iterazione dei risultati per NYSSEN RAFAEL PENALOZA: 'NoneType' object is not iterable
Loop count: 34
Processing professor: YURI PIROLA
Added professor: YURI PIROLA with organization UniversitÃ  degli Studi di Milano-Bicocca
Loop count: 35
Processing professor: CHINAGLIA POMELLO LUCIA POMELLO
No organization with 'Bicocca', 'Milan', or 'Milano' found for CHINAGLIA POMELLO LUCIA POMELLO
Loop count: 36
Processing professor: CLAUDIA RAIBULET
No organization with 'Bicocca', 'Milan', or 'Milano' found for CLAUDIA RAIBULET
Loop count: 37
Processing professor: OLIVIERO RIGANELLI
No organization with 'Bicocca', 'Milan', or 'Milano' found for OLIVIERO RIGANELLI
Loop count: 38
Processing professor: RAFFAELLA RIZZI
No organization with 'Bicocca', 'Milan', or 'Milano' found for RAFFAELLA RIZZI
Loop count: 39
Processing professor: FABIO SARTORI
Added professor: FABIO SARTORI with organization University of Milano-Bicocca
Loop count: 40
Processing professor: DOMENICO GIORGIO SORRENTI
Errore durante l'iterazione dei risultati per DOMENICO GIORGIO SORRENTI: 'NoneType' object is not iterable
Loop count: 41
Processing professor: FABIO ANTONIO STELLA
No organization with 'Bicocca', 'Milan', or 'Milano' found for FABIO ANTONIO STELLA
Loop count: 42
Processing professor: MARCO VIVIANI
Added professor: MARCO VIVIANI with organization UniversitÃ  degli Studi di Milano-Bicocca
Loop count: 43
Processing professor: GIUSEPPE VIZZARI
Added professor: GIUSEPPE VIZZARI with organization University of Milano-Bicocca
Loop count: 44
Processing professor: CLAUDIO ZANDRON
No organization with 'Bicocca', 'Milan', or 'Milano' found for CLAUDIO ZANDRON
Loop count: 45
Processing professor: ITALO FRANCESCO ZOPPIS
No organization with 'Bicocca', 'Milan', or 'Milano' found for ITALO FRANCESCO ZOPPIS
Loop count: 46
Processing professor: LUCA BERNARDINELLO
No organization with 'Bicocca', 'Milan', or 'Milano' found for LUCA BERNARDINELLO
Loop count: 47
Processing professor: MATTEO ALESSANDRO DOMINONI
Added professor: MATTEO ALESSANDRO DOMINONI with organization UniversitÃ  degli Studi di Milano-Bicocca
Loop count: 48
Processing professor: GUIDO GIUSEPPE FIORINO
No organization with 'Bicocca', 'Milan', or 'Milano' found for GUIDO GIUSEPPE FIORINO
Loop count: 49
Processing professor: DANIELA BRIOLA
Added professor: DANIELA BRIOLA with organization UniversitÃ  degli Studi di Milano-Bicocca Dipartimento di Informatica Sistemistica e Comunicazione
Loop count: 50
Processing professor: MARCO BUZZELLI
No organization with 'Bicocca', 'Milan', or 'Milano' found for MARCO BUZZELLI
Loop count: 51
Processing professor: LUIGI CELONA
No organization with 'Bicocca', 'Milan', or 'Milano' found for LUIGI CELONA
Loop count: 52
Processing professor: DAVIDE CHICCO
Added professor: DAVIDE CHICCO with organization Universita' di Milano Bicocca
Loop count: 53
Processing professor: MARCO CREMASCHI
No organization with 'Bicocca', 'Milan', or 'Milano' found for MARCO CREMASCHI
Loop count: 54
Processing professor: ALEX GRAUDENZI
Added professor: ALEX GRAUDENZI with organization UniversitÃ  degli Studi di Milano-Bicocca
Loop count: 55
Processing professor: DAVIDE MARELLI
Added professor: DAVIDE MARELLI with organization University of Milano-Bicocca
Loop count: 56
Processing professor: SIMONE MELZI
No organization with 'Bicocca', 'Milan', or 'Milano' found for SIMONE MELZI
Loop count: 57
Processing professor: FRIDA MILELLA
Added professor: FRIDA MILELLA with organization University of Milano-Bicocca
Loop count: 58
Processing professor: DANIELE MARIA PAPETTI
Added professor: DANIELE MARIA PAPETTI with organization UniversitÃ  degli Studi di Milano-Bicocca
Loop count: 59
Processing professor: GEORGIOS PEIKOS
Added professor: GEORGIOS PEIKOS with organization Universita' di Milano Bicocca
Loop count: 60
Processing professor: FLAVIO PICCOLI
No organization with 'Bicocca', 'Milan', or 'Milano' found for FLAVIO PICCOLI
Loop count: 61
Processing professor: ALESSANDRO RAGANATO
Added professor: ALESSANDRO RAGANATO with organization University of Milano-Bicocca
Loop count: 62
Processing professor: MARCO SAVI
Added professor: MARCO SAVI with organization University of Milano-Bicocca
Loop count: 63
Processing professor: BLERINA SPAHIU
Added professor: BLERINA SPAHIU with organization Universita degli Studi di Milano-Bicocca
Loop count: 64
Processing professor: Ionel Eduard STAN
Added professor: Ionel Eduard STAN with organization University of Milano-Bicocca
Loop count: 65
Processing professor: SIMONE ZINI
Added professor: SIMONE ZINI with organization University of Milano-Bicocca
Loop count: 66
Processing professor: FRANCESCO ANTONIO ARCHETTI
Errore durante l'iterazione dei risultati per FRANCESCO ANTONIO ARCHETTI: 'NoneType' object is not iterable
Loop count: 67
Processing professor: GIULIA ROSEMARY AVIS
Added professor: GIULIA ROSEMARY AVIS with organization University of Milano-Bicocca
Loop count: 68
Processing professor: MIRKO PAOLO BARBATO
No organization with 'Bicocca', 'Milan', or 'Milano' found for MIRKO PAOLO BARBATO
Loop count: 69
Processing professor: FEDERICO BELOTTI
Added professor: FEDERICO BELOTTI with organization University of Milano-Bicocca
Loop count: 70
Processing professor: RAMDHANE FIRAS BEN
No organization with 'Bicocca', 'Milan', or 'Milano' found for RAMDHANE FIRAS BEN
Loop count: 71
Processing professor: FEDERICO BERGAMINI
Errore durante l'iterazione dei risultati per FEDERICO BERGAMINI: 'NoneType' object is not iterable
Loop count: 72
Processing professor: STEFANIA BOFFA
No organization with 'Bicocca', 'Milan', or 'Milano' found for STEFANIA BOFFA
Loop count: 73
Processing professor: LUCA CELOTTI
No organization with 'Bicocca', 'Milan', or 'Milano' found for LUCA CELOTTI
Loop count: 74
Processing professor: MATTEO ROBERT CHILD
Errore durante l'iterazione dei risultati per MATTEO ROBERT CHILD: 'NoneType' object is not iterable
Loop count: 75
Processing professor: XIAOCHEN CHOU
Added professor: XIAOCHEN CHOU with organization University of Milano-Bicocca
Loop count: 76
Processing professor: SIMONE CICCOLELLA
Added professor: SIMONE CICCOLELLA with organization UniversitÃ  degli Studi di Milano-Bicocca
Loop count: 77
Processing professor: ROBERTO CROTTI
No organization with 'Bicocca', 'Milan', or 'Milano' found for ROBERTO CROTTI
Loop count: 78
Processing professor: Seyed Mojtaba Daryabari
Errore durante l'iterazione dei risultati per Seyed Mojtaba Daryabari: 'NoneType' object is not iterable
Loop count: 79
Processing professor: MANUEL ELIA
Errore durante l'iterazione dei risultati per MANUEL ELIA: 'NoneType' object is not iterable
Loop count: 80
Processing professor: FEDERICA FILIPPINI
Added professor: FEDERICA FILIPPINI with organization University of Milano-Bicocca
Loop count: 81
Processing professor: YOUNAN GAO
No organization with 'Bicocca', 'Milan', or 'Milano' found for YOUNAN GAO
Loop count: 82
Processing professor: ROBERTO GARRONE
Added professor: ROBERTO GARRONE with organization University of Milano-Bicocca
Loop count: 83
Processing professor: ALESSANDRO GHERARDI
No organization with 'Bicocca', 'Milan', or 'Milano' found for ALESSANDRO GHERARDI
Loop count: 84
Processing professor: ALESSANDRA GROSSI
No organization with 'Bicocca', 'Milan', or 'Milano' found for ALESSANDRA GROSSI
Loop count: 85
Processing professor: LUCA GUGLIELMO
No organization with 'Bicocca', 'Milan', or 'Milano' found for LUCA GUGLIELMO
Loop count: 86
Processing professor: PRANAV KASELA
Added professor: PRANAV KASELA with organization University of Milano-Bicocca
Loop count: 87
Processing professor: ELSON KURIAN
Added professor: ELSON KURIAN with organization University of Milano-Bicocca
Loop count: 88
Processing professor: GIORGIO LONGARI
Added professor: GIORGIO LONGARI with organization University of Milano-Bicocca
Loop count: 89
Processing professor: FILIPPO MAGGIOLI
No organization with 'Bicocca', 'Milan', or 'Milano' found for FILIPPO MAGGIOLI
Loop count: 90
Processing professor: JACOPO MALTAGLIATI
Errore durante l'iterazione dei risultati per JACOPO MALTAGLIATI: 'NoneType' object is not iterable
Loop count: 91
Processing professor: LUCA MARCONI
Added professor: LUCA MARCONI with organization University of Milano-Bicocca
Loop count: 92
Processing professor: GIORGIO MARIANI
No organization with 'Bicocca', 'Milan', or 'Milano' found for GIORGIO MARIANI
Loop count: 93
Processing professor: GIULIAMARIA MENARA
No organization with 'Bicocca', 'Milan', or 'Milano' found for GIULIAMARIA MENARA
Loop count: 94
Processing professor: GIAN CARLO MILANESE
Added professor: GIAN CARLO MILANESE with organization UniversitÃ  degli Studi di Milano-Bicocca
Loop count: 95
Processing professor: SANDIP JAYANTLIAL MODHA
Errore durante l'iterazione dei risultati per SANDIP JAYANTLIAL MODHA: 'NoneType' object is not iterable
Loop count: 96
Processing professor: SARA NOCCO
Added professor: SARA NOCCO with organization University of Milano-Bicocca
Loop count: 97
Processing professor: MARIA TERESA ROSSI
No organization with 'Bicocca', 'Milan', or 'Milano' found for MARIA TERESA ROSSI
Loop count: 98
Processing professor: AURORA SAIBENE
Added professor: AURORA SAIBENE with organization UniversitÃ  degli Studi di Milano-Bicocca Dipartimento di Informatica Sistemistica e Comunicazione
Loop count: 99
Processing professor: SEYEDIMAN SEYEDI
Errore durante l'iterazione dei risultati per SEYEDIMAN SEYEDI: 'NoneType' object is not iterable
Loop count: 100
Processing professor: EFFROSYNI SOKLI
Added professor: EFFROSYNI SOKLI with organization University of Milano-Bicocca
Loop count: 101
Processing professor: HOLGADO LUCIA VICENTE
No organization with 'Bicocca', 'Milan', or 'Milano' found for HOLGADO LUCIA VICENTE
Loop count: 102
Processing professor: AN QI ZHAO
Added professor: AN QI ZHAO with organization University of Milano-Bicocca
Loop count: 103
Processing professor: QURBAN ALI
Added professor: QURBAN ALI with organization University of Milano-Bicocca
Loop count: 104
Processing professor: ABUBAKARI ALIDU
Added professor: ABUBAKARI ALIDU with organization University of Milano-Bicocca
Loop count: 105
Processing professor: HAMZA AMRANI
No organization with 'Bicocca', 'Milan', or 'Milano' found for HAMZA AMRANI
Loop count: 106
Processing professor: GIANMARIA BALDUCCI
No organization with 'Bicocca', 'Milan', or 'Milano' found for GIANMARIA BALDUCCI
Loop count: 107
Processing professor: THOMAS BARBERA
Added professor: THOMAS BARBERA with organization University of Milano-Bicocca
Loop count: 108
Processing professor: FRANCESCO CANONACO
Added professor: FRANCESCO CANONACO with organization University of Milano-Bicocca
Loop count: 109
Processing professor: MICHELE CARBONERA
No organization with 'Bicocca', 'Milan', or 'Milano' found for MICHELE CARBONERA
Loop count: 110
Processing professor: VASCO COELHO
No organization with 'Bicocca', 'Milan', or 'Milano' found for VASCO COELHO
Loop count: 111
Processing professor: LUCA COGO
Added professor: LUCA COGO with organization University of Milano-Bicocca
Loop count: 112
Processing professor: DAVIDE COZZI
No organization with 'Bicocca', 'Milan', or 'Milano' found for DAVIDE COZZI
Loop count: 113
Processing professor: SALVATORE D'ANTONA
No organization with 'Bicocca', 'Milan', or 'Milano' found for SALVATORE D'ANTONA
Loop count: 114
Processing professor: LAURO FEDERICA DI
Added professor: LAURO FEDERICA DI with organization Istituto Nazionale di Geofisica e Vulcanologia Sezione di Milano
Loop count: 115
Processing professor: MARCO FEDERICO DI
Added professor: MARCO FEDERICO DI with organization University of Milano-Bicocca
Loop count: 116
Processing professor: CATERINA FREGOSI
Added professor: CATERINA FREGOSI with organization University of Milano-Bicocca
Loop count: 117
Processing professor: GIOVANNI DONATO GALLO
No organization with 'Bicocca', 'Milan', or 'Milano' found for GIOVANNI DONATO GALLO
Loop count: 118
Processing professor: MATTEO GARAVAGLIA
No organization with 'Bicocca', 'Milan', or 'Milano' found for MATTEO GARAVAGLIA
Loop count: 119
Processing professor: MARCO LOCATELLI
No organization with 'Bicocca', 'Milan', or 'Milano' found for MARCO LOCATELLI
Loop count: 120
Processing professor: FRANCESCA MACCARONE
Added professor: FRANCESCA MACCARONE with organization University of Milano-Bicocca
Loop count: 121
Processing professor: ATIEH MAHROO
No organization with 'Bicocca', 'Milan', or 'Milano' found for ATIEH MAHROO
Loop count: 122
Processing professor: FARIHA MAQBOOL
Added professor: FARIHA MAQBOOL with organization University of Milano-Bicocca
Loop count: 123
Processing professor: MARIO MARINO
No organization with 'Bicocca', 'Milan', or 'Milano' found for MARIO MARINO
Loop count: 124
Processing professor: ALBERTO MINORA
Errore durante l'iterazione dei risultati per ALBERTO MINORA: 'NoneType' object is not iterable
Loop count: 125
Processing professor: FRANCESCO MORANO
Added professor: FRANCESCO MORANO with organization University of Milano-Bicocca
Loop count: 126
Processing professor: CHIARA NATALI
No organization with 'Bicocca', 'Milan', or 'Milano' found for CHIARA NATALI
Loop count: 127
Processing professor: MARCO PIAZZA
No organization with 'Bicocca', 'Milan', or 'Milano' found for MARCO PIAZZA
Loop count: 128
Processing professor: FEDERICO PIROLA
Errore durante l'iterazione dei risultati per FEDERICO PIROLA: 'NoneType' object is not iterable
Loop count: 129
Processing professor: RICCARDO POZZI
No organization with 'Bicocca', 'Milan', or 'Milano' found for RICCARDO POZZI
Loop count: 130
Processing professor: BRIAN RICCARDI
No organization with 'Bicocca', 'Milan', or 'Milano' found for BRIAN RICCARDI
Loop count: 131
Processing professor: GIORGIA RIGAMONTI
Added professor: GIORGIA RIGAMONTI with organization University of Milano-Bicocca
Loop count: 132
Processing professor: NICCOLÃ’ ROCCHI
No organization with 'Bicocca', 'Milan', or 'Milano' found for NICCOLÃ’ ROCCHI
Loop count: 133
Processing professor: LORENZO ROVIDA
No organization with 'Bicocca', 'Milan', or 'Milano' found for LORENZO ROVIDA
Loop count: 134
Processing professor: DANIEL SCALENA
No organization with 'Bicocca', 'Milan', or 'Milano' found for DANIEL SCALENA
Loop count: 135
Processing professor: MATTIA SGRO
Added professor: MATTIA SGRO with organization UniversitÃ  degli Studi di Milano-Bicocca
Loop count: 136
Processing professor: SAHAR SHAH
No organization with 'Bicocca', 'Milan', or 'Milano' found for SAHAR SHAH
Loop count: 137
Processing professor: MOHAMED NASSER HASSAN SWEILAM
Added professor: MOHAMED NASSER HASSAN SWEILAM with organization University of Milano-Bicocca
Loop count: 138
Processing professor: JACOPO TALPINI
No organization with 'Bicocca', 'Milan', or 'Milano' found for JACOPO TALPINI
Loop count: 139
Processing professor: GIULIO VIGANÃ²
Added professor: GIULIO VIGANÃ² with organization University of Milano-Bicocca
Finished processing all professors.
CSV file created successfully!

In [6]:
len(not_found_professors)

74

In [7]:
not_found_professors

['VINCENZINA MESSINA',
 "MAURO PEZZE'",
 'RAIMONDO SCHETTINI',
 'ALESSANDRA AGOSTINI',
 'DANIELA BESOZZI',
 "FEDERICO ANTONIO NICCOLO' AMEDEO CABITZA",
 'GIOVANNI DENARO',
 'ALBERTO DENNUNZIO',
 'CLAUDIO FERRETTI',
 'ELISABETTA FERSINI',
 'ALBERTO OTTAVIO LEPORATI',
 'GUGLIELMO LULLI',
 'DANIELA MICUCCI',
 'PAOLO NAPOLETANO',
 'NYSSEN RAFAEL PENALOZA',
 'CHINAGLIA POMELLO LUCIA POMELLO',
 'CLAUDIA RAIBULET',
 'OLIVIERO RIGANELLI',
 'RAFFAELLA RIZZI',
 'DOMENICO GIORGIO SORRENTI',
 'FABIO ANTONIO STELLA',
 'CLAUDIO ZANDRON',
 'ITALO FRANCESCO ZOPPIS',
 'LUCA BERNARDINELLO',
 'GUIDO GIUSEPPE FIORINO',
 'MARCO BUZZELLI',
 'LUIGI CELONA',
 'MARCO CREMASCHI',
 'SIMONE MELZI',
 'FLAVIO PICCOLI',
 'FRANCESCO ANTONIO ARCHETTI',
 'MIRKO PAOLO BARBATO',
 'RAMDHANE FIRAS BEN',
 'FEDERICO BERGAMINI',
 'STEFANIA BOFFA',
 'LUCA CELOTTI',
 'MATTEO ROBERT CHILD',
 'ROBERTO CROTTI',
 'Seyed Mojtaba Daryabari',
 'MANUEL ELIA',
 'YOUNAN GAO',
 'ALESSANDRO GHERARDI',
 'ALESSANDRA GROSSI',
 'LUCA GUGLIELMO',
 'FILIPPO MAGGIOLI',
 'JACOPO MALTAGLIATI',
 'GIORGIO MARIANI',
 'GIULIAMARIA MENARA',
 'SANDIP JAYANTLIAL MODHA',
 'MARIA TERESA ROSSI',
 'SEYEDIMAN SEYEDI',
 'HOLGADO LUCIA VICENTE',
 'HAMZA AMRANI',
 'GIANMARIA BALDUCCI',
 'MICHELE CARBONERA',
 'VASCO COELHO',
 'DAVIDE COZZI',
 "SALVATORE D'ANTONA",
 'GIOVANNI DONATO GALLO',
 'MATTEO GARAVAGLIA',
 'MARCO LOCATELLI',
 'ATIEH MAHROO',
 'MARIO MARINO',
 'ALBERTO MINORA',
 'CHIARA NATALI',
 'MARCO PIAZZA',
 'FEDERICO PIROLA',
 'RICCARDO POZZI',
 'BRIAN RICCARDI',
 'NICCOLÃ’ ROCCHI',
 'LORENZO ROVIDA',
 'DANIEL SCALENA',
 'SAHAR SHAH',
 'JACOPO TALPINI']

In [4]:
professors_df = pd.read_csv('../../data/processed/professors_dip_info.csv')
professors_df.head(5)

,Family Name,Given Name,Department Code,Specific Field,Role
0,ANTONIOTTI,MARCO,(INFO-01/A),Computer Science,Full Professor
1,ARCELLI,FONTANA FRANCESCA,(IINF-05/A),Information Processing Systems,Full Professor
2,BANDINI,STEFANIA,(INFO-01/A),Computer Science,Full Professor
3,BONIZZONI,PAOLA,(INFO-01/A),Computer Science,Full Professor
4,CIUCCI,DAVIDE,(INFO-01/A),Computer Science,Full Professor